<h3>SERVERS COMPONENT</h3>
<label>Server Name</label>

<!-- $event -->
<input type="text"
        (input)="onUptadteServerName($event)"
        placeholder="input event listener ver.">

<!-- ngModel -->
<input type="text"
        [(ngModel)]="serverName"
        placeholder="ngModel ver.">

<!-- Attributes & Click Event -->
<button [disabled]="!allowNewServer"
        (click)="onCreateServer()">
  Add Server
</button>

<!-- String -->
<p><i>{{ serverName }}</i> {{ serverCreationStatus }}</p>

<!-- innerText -->
<p [innerText]="allowNewServer"></p>

<!-- components -->
<app-server *ngFor="let server of servers"></app-server>

<!-- ngIf Structural directive -->
<p *ngIf="serverCreated; else noServer">Server Creation Completed</p>

<!-- ng-template -->
<ng-template #noServer>
  <p>No new server created</p>
</ng-template>
